





















/* call to action styles */
.ctn {
    margin: 3vw 38vw;
    position:relative;
}
.ctn img{
    width: 25vw;
    height:14rem;
}
.ctn-content {
    position: absolute;
    left:2vw  ;
    top:0rem  ;
    padding: 1vw;
    text-align:center;
}
.ctn-content h3 {
    color: #1E1E1E;
    padding: 1vw 0;
}
.ctn-content button {
    background-color: #1E1E1E;
    padding: 1.2vw 2vw;
    border: none;
    font-size: 1.2rem;
    color: var(--white);
    border-radius: 5rem;
    margin: 2rem 0  0 0;
}
/* Small screens */

@media screen and (max-width: 768px) {
    .ctn img{
    width: 40vw;
    height:30vh;
}
    .ctn-content button {
    background-color: #1E1E1E;
    padding: 1vw 11vw;
    border: none;
    font-size: 1r.2em;
    color: var(--white);
    border-radius: 5rem;
    margin: 1rem 0  0 0;
}
}
/* end of call to action styles */
